* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.home {
    height: 100%;
    padding-top: 40vh;
    overflow: hidden;
    align-items: center;
    text-align: center;
    background-image: url(./images/img.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-name {
    font-size: 5rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.home-name-last {
    color: #66fcf1;
    font-weight: 700;
}

.menu-btn {
    position: absolute;
    z-index: 1;
    top: 1rem;
    right: 1rem;
    height: 20px;
    width: 20px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.menu-btn_burger {
    position: absolute;
    right: 0;
    top: 0.5rem;
    width: 28px;
    height: 3px;
    background: #66fcf1;
    transition: all 0.5s ease-in-out;
}

.menu-btn_burger::before {
    content: '';
    position: absolute;
    top: -8px;
    width: 28px;
    height: 3px;
    background: #66fcf1;
    transition: all 0.5s ease-in-out;
}

.menu-btn_burger::after {
    content: '';
    position: absolute;
    top: 8px;
    width: 20px;
    height: 3px;
    background: #66fcf1;
    transition: all 0.5s ease-in-out;
}

.menu-btn_burger.open {
    transform: rotate(720deg);
    background: transparent;
}

.menu-btn_burger.open::before {
    transform: rotate(45deg) translate(5px, 8px);
}

.menu-btn_burger.open::after {
    width: 28px;
    transform: rotate(-45deg) translate(3px, -7px);
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    opacity: 0.98;
    visibility: hidden;
}

.nav.open {
    visibility: visible;
}

.nav .menu-nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background-color: transparent;
    list-style: none;
    transform: translateX(100%);
    transition: all 0.5s ease-in-out;
}

.nav .menu-nav.open {
    transform: translateX(0);
}

.nav .menu-nav_item {
    transition: all 0.5s ease-in-out;
}

.nav .menu-nav.active {
    color: #66fcf1;
}

.nav .menu-nav_link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-transform: uppercase;
    padding: 2rem 0;
    font-weight: 300;
    transition: all 0.5s ease-in-out;
}

.nav .menu-nav_link:hover {
    color: #66fcf1;
}

.about {
    padding-bottom: 2rem;
}

.about_bio-image {
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.about_bio-image p {
    margin-bottom: 2rem;
}

.about_bio {
    width: 80%;
    text-align: center;
}

.about_bio .text-secondary {
    padding-bottom: 1rem;
}

.about .education {
    width: 60vw;
    margin: 2rem auto 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
}

.about .education_title {
    background: #324153;
    padding: 1rem;
    border-bottom: 5px solid #66fcf1;
}

.about .education_title h2,
.about .education_title h3 {
    margin: 0.5rem 0;
}

.about .education_title h6 {
    margin: 0.3rem 0;
}

.about .skills {
    text-align: center;
    width: 60vw;
    margin: 6rem auto 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
}

.about .skills h2 {
    font-size: 32px;
}

.about .skills_items {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    row-gap: 2rem;
    padding: 1rem;
    border-bottom: 5px double #66fcf1;
    border-right: 5px double #66fcf1;
}

.about .skills_items_item {
    display: flex;
    flex-direction: column;
}

.about .skills_items_item:hover {
    color: #66fcf1;
}

.about .skills_items_item i {
    font-size: 22px;
    padding: 0.4rem;
    transition: all 0.5s ease-in-out;
}

.about .skills_items_item i:hover {
    color: #66fcf1;
}

.about .skills_wid {
    padding: 1rem;
    border-top: 5px double #66fcf1;
    border-left: 5px double #66fcf1;
}

.about .skills_wid h3 {
    font-size: 22px;
    margin: 1rem 0;
}

.about .social-icons {
    display: flex;
    flex-direction: column;
}

.about footer {
    transform: rotate(90deg) translate(-3rem, -5rem);
}

.projects {
    padding-bottom: 2rem;
}

.projects-image {
    height: 60vh;
    width: 100%;
    background-image: url(./images/project-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.projects_items {
    width: 60vw;
    margin: 2rem auto 0 auto;
    display: -ms-grid;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
}

.projects_item {
    position: relative;
    border-bottom: 5px solid #66fcf1;
    overflow: hidden;
    cursor: pointer;
}

.projects_item img {
    width: 100%;
}

.projects_item::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    height: 100%;
    width: 100%;
    background: #66fcf1;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.projects_item:hover::after {
    top: 0;
    opacity: 0.8;
}

.projects_item:hover .projects_btn {
    opacity: 1;
}

.projects_btns {
    position: absolute;
    top: 50%;
    height: 100%;
    width: 100%;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
}

.projects_btn {
    opacity: 0;
    color: #000;
    transition: all 0.5s ease-in-out;
}

.projects_btn:hover {
    color: #fff;
}

.projects .social-icons {
    display: flex;
    flex-direction: column;
}

.projects footer {
    transform: rotate(90deg) translate(-3rem, -5rem);
}

.contact {
    height: 100%;
    padding-top: 40vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.contact_list {
    display: -ms-grid;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    font-size: 1.5rem;
}

.contact .social-icons {
    position: initial;
    margin-top: 2rem;
}

@media screen and (min-width: 700px) {
    .menu-btn {
        visibility: hidden;
    }

    .nav {
        visibility: visible;
    }

    .nav .menu-nav {
        display: block;
        transform: translateY(0);
        height: 100%;
        background: rgba(31, 40, 51, 0.8);
        text-align: center;
    }

    .nav .menu-nav_item {
        display: inline-block;
        padding-right: 1.5rem;
    }

    .nav .menu-nav_link {
        font-size: 1.5rem;
    }

    .nav .menu-nav li>.active {
        color: seagreen;
    }

    .about_bio {
        font-size: 1.5rem;
    }

    .projects_bio-image {
        height: 40vh;
    }

    .projects_items {
        grid-template-columns: repeat(2, 1fr);
    }

    .projects .text-secondary {
        font-size: 3rem;
    }

    .contact {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1020px) {
    .projects_items {
        grid-template-columns: repeat(3, 1fr);
    }

    .contact {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1600px) {
    .projects_bio-image {
        height: 50vh;
    }
}

body {
    background: #1f2833;
    color: #fff;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1;
}

h1,
h2,
h3 {
    font-weight: 400;
}

a {
    color: #fff;
    text-decoration: none;
}

.text-secondary {
    color: #66fcf1;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
    padding: 1rem;
}

main {
    height: 100%;
    width: 100%;
}

main .social-icons {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
}

main .social-icons a {
    padding: 0.4rem;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

main .social-icons a:hover {
    color: #66fcf1;
}

footer {
    font-size: 1rem;
    position: fixed;
    bottom: 0.4rem;
    right: 1rem;
    padding: 1rem;
    text-align: left;
    color: #fff;
}